/* nav bar */

header {
    height: 95vh;
    // position: relative;
}

.banner {
    border: 2px solid red;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.5rem;
}

.navMenu {
    height: 100%;
    width: 0px; //200px
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(13, 13, 13, 0.8);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding: 0px; //20px
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
nav li {
    margin-bottom: 15px
}

nav a {
    color: white;
    padding: 5px;
}

nav a:hover {
    letter-spacing: 2px;
}

.burgerOpen,
.burgerClose {
    font-size: 1.8rem;
    color: $black;
}
.burgerClose {
    color: white;
}


/*/hero */


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    line-height: 30px;
}

h1 {
    font-size: 4.0rem;
    letter-spacing: 15px;
}

h1 span {
    color: $greenStyle;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

/////* footer */////
footer {
    text-align: center;
    color: white;
    background-color: $black;
    padding: 10px 0;
}

.contactList{
    display: flex;
    justify-content: space-between;
}

.contactList li i {
    color: white;
    font-size: 2.0rem;
}

.contactList li i:hover{
    color: $greenStyle;
}