/////* nav bar */////
header {
    height: 95vh;
    position: relative;

    ///// banner /////
    .banner {
        position: fixed;
        width: 100%;
        z-index: 1;
        background: rgba(13, 13, 13, 0.8);
        color: white;

        ///// navigation /////
        .navBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
            font-size: 1.5rem;
    
            .logo img {
                width: 50px;
            }
        
            ///// open/close icons /////
            .burgerOpen,
            .burgerClose{
                font-size: 30px; 
                color: white;
            }

            .burgerOpen:hover {
                color: $greenStyle;
            }

             ///// pop out menu /////
            nav {
                li {
                    margin: 20px 0;
                    font-size: 1.8rem;
                }
    
                a {
                    color: white;
                    padding: 5px;
                }

                a:hover,
                i:hover {
                    letter-spacing: 2px;
                    color: $greenStyle;
                }
    
                .navMenu {
                    height: 100%;
                    width: 0px; //200px
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    background-color: rgba(13, 13, 13, 0.8);
                    overflow-x: hidden;
                    overflow-y: scroll;
                    transition: 0.5s;
                    padding: 0px; //20px
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }
    
/////* hero */////
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 30px;
        height: 100%;
        text-align: center;

        h1 {
            font-size: 4.5rem;
            letter-spacing: 15px;
        }

         ///// middle name style /////
        h1 span {
            color: $greenStyle;
        }
        
        h2 {
            font-size: 3.0rem;
            letter-spacing: 5px;
            position: relative;
        }
         ///// h2 underline animation /////
        @keyframes underline {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }

        h2::after {
            position: absolute;
            content: '';
            background: rgba(180, 198, 190, 0.50);
            border-radius: 4px;
            height: 4px;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 40px;
            animation: underline;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-direction: normal;
            animation-fill-mode: both;
        }
    }
}

/////* footer */////
footer {
    text-align: center;
    color: white;
    background-color: $black;
    padding: 1px 0;
}