
/* nav bar */
.navBar {
    display: flex;
    justify-content: space-between;
}

/* header/hero */

/* bio */

img {
    width: 400px;
}

/* skills */
.skillsList {
    display: flex;
}

/* projects */

    /* project1 */
    /* project2 */
    /* project3 */

/* footer */
.contactList{
    display: flex;
    justify-content: space-between;
}