/////* bio */////
.bio {
    background-color: $greenBackground;
    padding: 100px 0;
    width: 100%;
}

.bioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bioContainer img {
    width: 100%;
    object-fit: contain;
    margin-top: -225px;
}

.bioContainer h2 {
    margin-top: 50px;
}

.bioContainer p {
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

/////* skills */////
.skills {
    padding: 100px 0;
}

.skills h2,
.bio h2,
.projects h2 {
    position: relative;
    display: inline-block;
}

.skills h2::after,
.bio h2::after,
.projects h2::after {
    position: absolute;
    content: '';
    background: $greenStyle;
    height: 3px;
    margin: 0 auto;
	left: 0;
    right: 0;
    top: 30px;
    width: 100%;
}

.skillsContainer {
    display: flex;
    justify-content: space-between;
}

.skillsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
}

.skillsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 20px;
}
.skillsList i {
    font-size: 5.5rem;
    color: $black;
}

/////* projects */////
.projects h2 {
    margin-bottom: 100px;
}
h3 {
    font-size: 2.5rem;
}

.projects{
    padding: 50px 0;
}  

.project1,
.project2,
.project3 {
    background-color: $greenBackground;
    margin-bottom: 200px;
    padding: 50px 0;
}

.project1,
.project3 {
    margin-left: 10%;
    animation: fade-right;
}

.project2 {
    margin-right: 10%;
    text-align: right;
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    // height: 300px;
}

.projectInfo {
    width: 40%;
}

.projectContainer img {
    width: 100%;
    height: auto;
    margin-top: -120px;
}

.projectImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.projectLink {
    margin-top: 40px;
}

.project1 .projectImg,
.project3 .projectImg {
    margin-right: -50px;
}
.project2 .projectImg {
    margin-left: -50px;
}

main button {
    padding: 0;
}

.project1 button,
.project3 button {
    margin-right: 10px;
}

.project2 button {
    margin-left: 10px;
}

main button a {
    border: 2px solid black;
    font-size: 1.8rem;
    padding: 5px;
}

main button a:hover {
    background: $black;
}

