@media (max-width: 1065px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1000px) {
    main {
        .projects {
            .projectContainer {
                flex-direction: column;
    
                .projectInfo,
                .projectImg {
                    width: 100%;
                }
    
                .projectImg img {
                    width: 100%;
                    margin-top: 0px;
                }
            }

            .project2 {
                .projectInfo {
                    order: 1;
                }

                .projectImg {
                    order: 2;
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 725px) {
    html {
        font-size: 45%;
    }

    header {
        .hero h1 {
            line-height: 40px;
        }
    }
    main {
        .skills {
            .skillsContainer {
                flex-direction: column;

                h2 {
                    width: 75px;
                }
            }

            .skillsList {
                width: 100%;
            }
        }

        .bioContainer {
            img {
                margin-top: -175px;
                width: 100%;
            }

            p {
                width: 100%;
            }
        }

        .contact {
            flex-direction: column;

            .contactContainer,
            .contactList {
                width: 100%;
            }

            .contactList {
                margin-top: 25%;
            }
        }
    }
}

@media (max-width: 500px) {
    .skills {

        .skillsList li {
            width: calc(100%/3);
        }
    }
}

@media (max-width: 418px) {
    header {
        .hero {
            h2::after {
                top: 75px;
            }

        }

    }
}