html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  color: #0D0D0D;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

html h1,
html h2,
html h3,
html button {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

html ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

html button {
  border: none;
  padding: none;
  background: none;
}

html a {
  text-decoration: none;
  color: #0D0D0D;
}

html p {
  font-size: 1.8rem;
  line-height: 30px;
}

html a:hover,
html i:hover {
  color: #b4c6be;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

html .largeWrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

html .wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 95vh;
  position: relative;
}

header .banner {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgba(13, 13, 13, 0.8);
  color: white;
}

header .banner .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  font-size: 1.5rem;
}

header .banner .navBar .logo img {
  width: 50px;
}

header .banner .navBar .burgerOpen,
header .banner .navBar .burgerClose {
  font-size: 30px;
  color: white;
}

header .banner .navBar .burgerOpen:hover {
  color: #b4c6be;
}

header .banner .navBar nav li {
  margin: 20px 0;
  font-size: 1.8rem;
}

header .banner .navBar nav a {
  color: white;
  padding: 5px;
}

header .banner .navBar nav a:hover,
header .banner .navBar nav i:hover {
  letter-spacing: 2px;
  color: #b4c6be;
}

header .banner .navBar nav .navMenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(13, 13, 13, 0.8);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  height: 100%;
  text-align: center;
}

header .hero h1 {
  font-size: 4.5rem;
  letter-spacing: 15px;
}

header .hero h1 span {
  color: #b4c6be;
}

header .hero h2 {
  font-size: 3.0rem;
  letter-spacing: 5px;
  position: relative;
}

@-webkit-keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

header .hero h2::after {
  position: absolute;
  content: '';
  background: rgba(180, 198, 190, 0.5);
  border-radius: 4px;
  height: 4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40px;
  -webkit-animation: underline;
          animation: underline;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

footer {
  text-align: center;
  color: white;
  background-color: #0D0D0D;
  padding: 1px 0;
}

main button {
  padding: 0;
}

main button a {
  border: 2px solid #0D0D0D;
  font-size: 1.8rem;
  padding: 5px;
  border-radius: 0px;
  background: linear-gradient(145deg, #ffffff, #e5e6e6);
  -webkit-box-shadow: 1px 1px 10px #666666,  -1px -1px 5px #ffffff;
          box-shadow: 1px 1px 10px #666666,  -1px -1px 5px #ffffff;
}

main button a:hover {
  background: #0D0D0D;
}

main button a:active,
main button a:after {
  border-radius: 0px;
  background: #feffff;
  -webkit-box-shadow: inset 2px 2px 10px #666666,  inset -2px -2px 5px #ffffff;
          box-shadow: inset 2px 2px 10px #666666,  inset -2px -2px 5px #ffffff;
}

main h2 {
  font-size: 3.0rem;
  position: relative;
  display: inline-block;
}

main h2::after {
  position: absolute;
  content: "";
  background: rgba(180, 198, 190, 0.5);
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30px;
  width: 100%;
}

main .bio {
  background-color: #e2e9e6d6;
  padding: 100px 0;
  width: 100%;
}

main .bioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bioContainer img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: -225px;
}

main .bioContainer h2 {
  margin-top: 50px;
}

main .bioContainer p {
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

main .skills {
  padding: 100px 0;
}

main .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  text-align: center;
}

main .skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: calc(100%/4);
}

main .skillsList i {
  font-size: 5.5rem;
  color: #0D0D0D;
}

main h3 {
  font-size: 2.5rem;
}

main .projects {
  overflow: hidden;
}

main .projects h2 {
  margin-bottom: 100px;
}

main .projects .project1,
main .projects .project2,
main .projects .project3 {
  background-color: #e2e9e6d6;
  margin-bottom: 200px;
  padding: 50px 0;
}

main .projects .project1,
main .projects .project3 {
  margin-left: 10%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.47);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.47);
}

main .projects .project2 {
  margin-right: 10%;
  text-align: right;
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.47);
          box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.47);
}

main .projects .project1 .projectImg,
main .projects .project3 .projectImg {
  margin-right: -50px;
}

main .projects .project1 .projectImg img,
main .projects .project3 .projectImg img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.47);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.47);
}

main .projects .project2 .projectImg {
  margin-left: -50px;
}

main .projects .project2 .projectImg img {
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.47);
          box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.47);
}

main .projects .project1 button,
main .projects .project3 button {
  margin-right: 10px;
}

main .projects .project2 button {
  margin-left: 10px;
}

main .projects .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

main .projects .projectContainer .projectInfo {
  width: 40%;
}

main .projects .projectContainer .projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

main .projects .projectContainer .projectImg img {
  width: 100%;
  margin-top: -120px;
}

main .projects .projectContainer .projectImg .projectLink {
  margin-top: 40px;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 100px;
}

main .contact h2 {
  margin-top: 0;
}

main .contact .contactContainer {
  width: 50%;
}

main .contact .contactContainer .email {
  text-decoration: underline;
}

main .contact .contactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

main .contact .contactList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  width: 50%;
}

main .contact .contactList i {
  color: #0D0D0D;
  font-size: 4.0rem;
}

main .contact .contactList i:hover {
  color: #b4c6be;
}

@media (max-width: 1065px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1000px) {
  main .projects .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .projects .projectContainer .projectInfo,
  main .projects .projectContainer .projectImg {
    width: 100%;
  }
  main .projects .projectContainer .projectImg img {
    width: 100%;
    margin-top: 0px;
  }
  main .projects .project2 .projectInfo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .projects .project2 .projectImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
  }
}

@media (max-width: 725px) {
  html {
    font-size: 45%;
  }
  header .hero h1 {
    line-height: 40px;
  }
  main .skills .skillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .skills .skillsContainer h2 {
    width: 75px;
  }
  main .skills .skillsList {
    width: 100%;
  }
  main .bioContainer img {
    margin-top: -175px;
    width: 100%;
  }
  main .bioContainer p {
    width: 100%;
  }
  main .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contact .contactContainer,
  main .contact .contactList {
    width: 100%;
  }
  main .contact .contactList {
    margin-top: 25%;
  }
}

@media (max-width: 500px) {
  .skills .skillsList li {
    width: calc(100%/3);
  }
}

@media (max-width: 418px) {
  header .hero h2::after {
    top: 75px;
  }
}
