/* Color Theme Swatches in Hex */
/* .Color-Theme-2-1-hex { color: #0D0D0D; } black
.Color-Theme-2-3-hex { color: #f3f7f5; } green
.Color-Theme-2-4-hex { color: #C1C2C6; } font */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* general styling */
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  color: #0D0D0D;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

html h1,
html h2,
html h3,
html button {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

html ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

html button {
  border: none;
  padding: none;
  background: none;
}

html a {
  text-decoration: none;
  color: #0D0D0D;
}

html p {
  font-size: 1.8rem;
  line-height: 30px;
}

html a:hover,
html i:hover {
  color: #b4c6be;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html .largeWrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

html .wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 95vh;
  position: relative;
}

header .banner {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: none;
}

header .banner .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  font-size: 1.5rem;
}

header .banner .navBar i:hover,
header .banner .navBar a:hover {
  letter-spacing: 2px;
  color: #b4c6be;
}

header .banner .navBar .logo img {
  width: 50px;
}

header .banner .navBar i {
  font-size: 25px;
}

header .banner nav li {
  margin-bottom: 15px;
}

header .banner nav a {
  color: white;
  padding: 5px;
}

header .banner nav .navMenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(13, 13, 13, 0.8);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .banner nav .burgerOpen,
header .banner nav .burgerClose {
  font-size: 2.5rem;
  color: #0D0D0D;
}

header .banner nav .burgerClose {
  color: white;
}

header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  height: 95%;
}

header .hero h1 {
  font-size: 4.5rem;
  letter-spacing: 15px;
}

header .hero h1 span {
  color: #b4c6be;
}

header .hero h2 {
  font-size: 3.0rem;
  letter-spacing: 5px;
}

footer {
  text-align: center;
  color: white;
  background-color: #0D0D0D;
  padding: 1px 0;
}

main button {
  padding: 0;
}

main button a {
  border: 2px solid black;
  font-size: 1.8rem;
  padding: 5px;
}

main button a:hover {
  background: #0D0D0D;
}

main h2 {
  font-size: 3.0rem;
  position: relative;
  display: inline-block;
  margin: 0;
}

main h2::after {
  position: absolute;
  content: '';
  background: #b4c6be;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30px;
  width: 100%;
}

main .bio {
  background-color: #e2e9e6d6;
  padding: 100px 0;
  width: 100%;
}

main .bioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .bioContainer img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: -225px;
}

main .bioContainer h2 {
  margin-top: 50px;
}

main .bioContainer p {
  width: 700px;
  text-align: center;
  margin-bottom: 20px;
}

main .skills {
  padding: 100px 0;
}

main .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

main .skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: calc(100%/4);
}

main .skillsList i {
  font-size: 5.5rem;
  color: #0D0D0D;
}

main h3 {
  font-size: 2.5rem;
}

main .projects {
  padding: 50px 0;
}

main .projects h2 {
  margin-bottom: 100px;
}

main .projects .project1,
main .projects .project2,
main .projects .project3 {
  background-color: #e2e9e6d6;
  margin-bottom: 200px;
  padding: 50px 0;
}

main .projects .project1,
main .projects .project3 {
  margin-left: 10%;
}

main .projects .project2 {
  margin-right: 10%;
  text-align: right;
}

main .projects .project1 .projectImg,
main .projects .project3 .projectImg {
  margin-right: -50px;
}

main .projects .project2 .projectImg {
  margin-left: -50px;
}

main .projects .projectInfo {
  width: 40%;
}

main .projects .project1 button,
main .projects .project3 button {
  margin-right: 10px;
}

main .projects .project2 button {
  margin-left: 10px;
}

main .projects .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .projects .projectContainer .projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

main .projects .projectContainer .projectImg img {
  width: 100%;
  height: auto;
  margin-top: -120px;
}

main .projects .projectContainer .projectImg .projectLink {
  margin-top: 40px;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 150px;
}

main .contact .contactContainer {
  width: 40%;
}

main .contact .contactList {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contact .contactList li i {
  color: #0D0D0D;
  font-size: 4.5rem;
}

main .contact .contactList li i:hover {
  color: #b4c6be;
}
